@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-shade;
    @apply text-light-shade;
    @apply text-fluid-0;
  } 
  
  h1 {
    @apply font-serif font-black text-fluid-4 drop-shadow-md;
  }        

  h2 {
    @apply font-serif font-black text-fluid-3 drop-shadow-md;
  }    

  h3 {
    @apply font-serif text-fluid-1 drop-shadow-md;
  }    

  h4 {
    @apply text-fluid-1 drop-shadow-md;
  }    

  h5 {
    @apply text-fluid-0 drop-shadow-md;
  }    
  
  h6 {
    @apply -text-fluid-1 drop-shadow-md;
  }

  *:focus-visible {
    @apply ring-4 ring-external outline-none
  }

  hr {
    @apply border-[#7e9496]
  }
}
